.jumbotron {
  text-align: center;
}

.display {
  display: none;
}

.display img {
  width: 200px;
  height: 200px;
  margin: 12px;
  float: left;
}

.display p {
  width: 700px;
  text-align: left;
  float: left;
  font-size: 25px;
}
